@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --shiki-color-background: red;

    --primary-100: hsl(var(--nextra-primary-hue)100% 94%);

    --primary-700: hsl(var(--nextra-primary-hue)100% 32%);

    /* --doc-height: 100%;
    --multibase-background: 255 255 255;
    --primary-100: #fceaea;
    --primary-400: #edb5b6;
    --primary-500: #ed7779;
    --primary-600: #d95658;
    --primary-700: #c64141;
    --primary-dark-400: rgb(235 68 104);
    --primary-dark-500: rgb(237 77 112);
    --black-500: #171515;
    --gray-50: #e7e7e77d;
    --gray-100: #e0e0e0;
    --gray-300: #B8B6B6;
    --gray-500: #8a8a8a;
    --gray-600: #707070;
    --dark-500: rgb(104 94 98);
    --dark-600: #3d3a3a;
    --dark-700: #201d1d; */
}


body { 
    font-family: var(--main-font);
}